.bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-bg.png") ;
    background-size: cover;
    height: 100vh;
}
.score-card{
    background-size: cover;
    background-image: url("https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png");
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.image1{
    height: 50vh;
}